.Rproj.user
.Rhistory
.RData
.Ruserdata

/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-4.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-5.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-6.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-7.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-8.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-9.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-10.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-11.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-12.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-13.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-14.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-15.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-16.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-17.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-18.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-19.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-20.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-21.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-22.csv
/comparison-analysis/bertrand-russel/data/cleaned_data/simplicial_complex_data/simplex-data-23.csv
